/*clock*/

.clock {
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.35);
    border-radius: 5px;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 25%;
    overflow-x: scroll;
    white-space: nowrap;
}

.clock p {
    margin: 0 auto;
}

.clock-day {
    font-size: 85%;
}

.clock-time {
    text-align: center;
    font-size: 122%;
}
