/*clock*/

.clock {
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.35);
    border-radius: 5px;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.clock p {
    margin: 0 auto;
}

.clock-day {
    /*width: 85%;*/
    font-size: 90%;
}

.clock-time {
    text-align: center;
    font-size: 105%;
    padding: 0 10px;
    background-color: rgba(255, 255, 255, 0.06);
    /*width: 85%;*/
    border-radius: 5px;
}
