/*contact*/

.contact div {
    display: inline-block;
}

.function-bar {
    display: flex;
    justify-content: space-between;
    overflow-x: scroll;
    width: auto;
    margin: 0 0 10px 0;
}

.contact-picture {
    height: 190px;
    width: 127px;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 8px;
    display: flex;
    align-items: center;
}

.profile-picture {
    height: 190px;
}

.contact-container {
    display: flex;
    justify-content: center;
    margin: 7px 0;
}

.contact-container label {
    height: 56px;
    width: 315px;
    overflow: hidden;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 14px 17px 12px 17px;
    border-radius: 6px;
    background-color: rgba(0, 0, 0, 0.35);
}

.contact-container label:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.04);
    transition: background-color 0.7s;
}

.contact-container label span {
    display: flex;
    align-items: center;
    font-size: 30px;
    margin: 0 10px;
}

.contact-container label li {
    list-style: none;
    text-transform: none;
    font-size: 18px;
    font-family: 'Varela Round', sans-serif;
}

.contact-container ul {
    height: 56px;
    width: 315px;
    overflow: hidden;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 14px 17px 12px 17px;
    border-radius: 6px;
    background-color: rgba(0, 0, 0, 0.35);
}

.contact-container ul a {
    background-color: rgba(255, 255, 255, 0.1);
    margin: 0 8px;
}

.contact-container ul a:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.3);
    transition: background-color 0.7s;
}

.contact-linkedin {
    border-radius: 25px;
    padding: 4px 10px 2px 11px;
    line-height: 123%;
    font-size: 33px;
}

.contact-github {
    border-radius: 25px;
    padding: 4px 9px 2px 10px;
    line-height: 123%;
    font-size: 34px;
}

.contact-facebook {
    border-radius: 25px;
    padding: 6px 15px 5px 14px;
    line-height: 123%;
    font-size: 29px;
}
