/*education*/

#about {
    margin-top: 150px;
}

.edu {
    padding-bottom: 5px;
    box-shadow: 0 0 2px;
    border-radius: 19px;
    padding: 16px;
    margin: 25px 0;
}

.edu-img {
    /*background-color: rgba(255, 255, 255, 0.06);*/
    /*border-radius: 10px;*/
    height: 75px;
    margin-right: 10px;
}

.edu h3 {
    display: flex;
    align-items: center;
    font-family: 'Nunito', sans-serif;
}

.edu h4 {
    padding-left: 25px;
}

.edu h4 span {
    font-size: 25px;
}

.edu p {
    margin: 11px 0;
    padding-left: 60px;
    font-size: 15px;
    font-family: 'Varela Round', sans-serif;
}
.edu p span{
  font-size: 20px;
  color: #d9a10f;
}

.cert-color {
    background-color: #ae820c;
    border-radius: 6px;
    padding: 6px 6px 6px 9px;
}
