/*education*/

.edu {
    background-color: rgba(0, 0, 0, 0.3);
    padding-bottom: 5px;
    border-radius: 10px;
    padding: 16px 16px 23px 16px;
    margin: 25px 0 0 0;
}

.edu img {
    height: 75px;
    margin-right: 10px;
}

.aa-img {
    -webkit-filter: saturate(55%);
    filter: saturate(55%);
}

.edu h3 {
    display: flex;
    align-items: center;
    font-family: 'Nunito', sans-serif;
}

.edu h4 {
    padding-left: 25px;
    display: flex;
}

.edu h4 span {
    font-size: 34px;
}

.edu h4 p {
    font-size: 15px;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 3px;
    padding: 6px 6px 6px 9px;
    margin: 0;
}

.edu-achievement {
    margin: 8px 0 0 0;
    padding-left: 56px;
    font-size: 15px;
    font-family: 'Varela Round', sans-serif;
    display: flex;
    align-items: baseline;
}

.edu-achievement span {
    font-size: 15px;
    /*color: #d9a10f;*/
}

.edu-achievement ul {
    max-height: 100px;
    margin: 0px 0 0 6px;
    background-color: rgba(255, 255, 255, 0.06);
    border-radius: 3px;
    padding: 5px 10px 7px 10px;
    font-size: 15px;
}

.edu li {
    list-style: none;
}

.edu-course {
    margin: 8px 0 0 0;
    padding-left: 56px;
    font-size: 15px;
    font-family: 'Varela Round', sans-serif;
    display: flex;
    align-items: baseline;
}

.edu-course span {
    font-size: 15px;
    /*color: #d9a10f;*/
}

.course-wrap {
    position: relative;
    display: flex;
    cursor: pointer;
}

.course-wrap p {
    margin: 0px 0 0 6px;
    background-color: rgba(255, 255, 255, 0.06);
    border-radius: 3px;
    padding: 5px 10px 7px 10px;
    font-size: 15px;
}

.course-wrap:hover .course-dropdown {
    visibility: visible;
    opacity: 1;
    z-index: 1;
    transform: translateX(0%);
    transition-delay: 0s, 0s, 0.3s;
}

.course-dropdown {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    bottom: -33px;
    right: -28px;
    z-index: 1;
    transform: translateX(150px);
    transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
    height: 180px;
    width: 260px;
    overflow: scroll;
    background: rgba(0, 0, 0, 0.85);
    padding: 10px 15px 10px 7px;
    border-radius: 4px;
}

.course-dropdown li {
    display: block;
    font-size: 12px;
}

.course-dropdown li:hover {
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 3px;
    opacity: 0.7;
    transition: opacity 0.95s;
}
