/*education*/

#about {
    margin-top: 150px;
}

.edu {
    background-color: rgba(255, 255, 255, 0.05);
    padding-bottom: 5px;
    border-radius: 10px;
    padding: 16px;
    margin: 25px 0;
}

.edu img {
    height: 75px;
    margin-right: 10px;
}

.aa-img {
    -webkit-filter: saturate(55%);
    filter: saturate(55%);
}

.edu h3 {
    display: flex;
    align-items: center;
    font-family: 'Nunito', sans-serif;
}

.edu h4 {
    padding-left: 25px;
    display: flex;
}

.edu h4 span {
    font-size: 25px;
}

.edu h4 p {
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 3px;
    padding: 6px 6px 6px 9px;
    margin: 0;
}

.edu-achievement {
    margin: 8px 0 0 0;
    padding-left: 60px;
    font-size: 15px;
    font-family: 'Varela Round', sans-serif;
    display: flex;
    align-items: baseline;
}

.edu-achievement span {
    font-size: 15px;
    color: #d9a10f;
}

.edu-achievement ul {
    max-height: 100px;
    overflow: scroll;
    margin: 0px 0 0 6px;
    background-color: rgba(255, 255, 255, 0.06);
    border-radius: 6px;
    padding: 3px 7px 3px 7px;
}

.edu li {
    list-style: none;
}
