/*home*/

#main {
    overflow: scroll;
    margin: 0 0 50px 0;
}

.one-sentence {
    text-align: center;
}

.one-sentence h3 {
    font-size: 25px;
}

.one-sentence p {
    text-transform: uppercase;
    font-size: 17px;
    font-weight: bold;
    padding: 5px;
}

.direct-to-work {
    text-align: center;
    font-size: 24px;
}

.direct-to-work a {
    padding: 13px 26px;
    box-shadow: 0 0 8px white;
}

.direct-to-work a:hover {
    color: #5c94bc;
    transition: color 0.7s;
}

.direct-to-work a:active {
    transform: translateY(2px);
}

.last-name {
    color: #41a356;
}

.homepage-link {
    margin: 30px 0 0 0;
    text-align: center;
}

.homepage-contact-link {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 37px;
    padding: 3px 10px 1px 14px;
    line-height: 123%;
    font-size: 53px;
    margin: 0 8px;
}

.homepage-contact-link:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.24);
    transition: background-color 0.8s;
}

.homepage-tag {
    padding: 0;
}

.homepage-tag li {
    background: rgba(255, 255, 255, 0.1);
    color: #41a356;
    border-radius: 0;
}

.intro-tag {
    padding: 0;
}

.projects-tag {
    padding: 0;
}

.education-tag {
    padding: 0 4px 0 10px;
}

.contact-tag {
    padding: 0;
}

.profile-picture-wrap {
    display: flex;
    justify-content: center;
}

.profile-icon {
    height: 120px;
    width: 120px;
    color: white;
    border: 2px solid white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-icon span {
    font-size: 110px;
}
