/*projects*/

#work {
    position: fixed;
    top: 150px;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: scroll;
}

.project-category {
    margin: 0 0 10px 0;
}

.project {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    padding: 16px 16px 16px 16px;
    margin: 0 0 10px 0;
    transition: background-color 0.7s;
}

.project:hover {
    /*cursor: pointer;*/
    /*background-color: rgba(255, 255, 255, 0.18);*/
    /*transition: background-color 0.8s;*/
}

.project h3 {
    font-family: 'Nunito', sans-serif;
    font-size: 21px;
    margin: 0;
    padding-left: 10px;
    display: inline-block;
}

.project h4 {
    font-family: 'Varela Round', sans-serif;
    font-size: 10px;
    margin: 0;
    text-align: center;
}

.project-top {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.project-top img {
    display: inline-block;
    width: 55px;
    border-radius: 7px;
}

.project-bottom {
    margin: 8px 0 0 40px;
}

.project-detail {
    display: flex;
    align-items: baseline;
}

.project-detail ul {
    font-family: 'Varela Round', sans-serif;
    font-size: 12px;
    padding: 0 0 0 16px;
    margin: 0 0 0 0;
}

.project-detail span {
    font-size: 15px;
    color: #41a356;
}

.project-font-emphasis {
    list-style: none;
    display: inline-block;
    padding: 0 0 0 0;
    color: white;
    font-size: 12px;
    font-family: 'Nunito', sans-serif;
}
