/*projects*/

#work a {
    width: 560px;
}

.project-category {
    margin: 0 0 10px 0;
}

.project {
    background-color: rgba(0, 0, 0, 0.3);
    transition: background-color 0.8s;
    border-radius: 8px;
    padding: 16px 16px 24px 16px;
    margin: 0 0 10px 0;
}

.project:hover {
    background-color: rgba(0, 0, 0, 0.45);
    transition: background-color 0.8s;
}

.project h3 {
    font-family: 'Nunito', sans-serif;
    font-size: 21px;
    margin: 0;
    padding-left: 10px;
    display: inline-block;
}

.project h4 {
    font-size: 12px;
    text-transform: none;
    margin: 0 0 10px 20px;
}

.project-top {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.project-top img {
    display: inline-block;
    width: 55px;
    border-radius: 7px;
}

.project-bottom {
    margin: 8px 0 0 40px;
}

.project-detail {
    display: flex;
    margin: 0 0 6px 0;
}

.project-detail ul {
    background-color: rgba(255, 255, 255, 0.06);
    font-family: 'Varela Round', sans-serif;
    color: #887438;
    font-size: 12px;
    padding: 4px 5px 2px 7px;
    margin: 0 0 0 8px;
    border-radius: 4px;
    width: 84%;
}

.project-detail span {
    font-size: 30px;
    color: #ddbc5b;
    display: flex;
    align-items: center;
    height: 22px;
}

.project-font-emphasis {
    list-style: none;
    display: inline-block;
    padding: 0 0 0 0;
    color: white;
    font-size: 12px;
    font-family: 'Nunito', sans-serif;
}
