/*skills*/

#intro {
    position: fixed;
    top: 150px;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: scroll;
}

.skills {
    text-align: center;
}

.skills-centerize {
    text-align: center;
}

.skills i {
    font-size: 60px;
    margin: 0 3px;
}

.skills label {
    display: inline-block;
    font-family: 'Nunito';
}

.skills h3 {
    font-size: 16px;
}

.skills.wrap {
    background-color: rgba(255, 255, 255, 0.06);
    border-radius: 8px;
    padding: 10px 12px 12px 12px;
    text-align: center;
    width: 200px;
    height: auto;
    display: inline-block;
    margin: 20px;
    vertical-align: middle;
}
