/*weahter*/

.weather {
    background-color: rgba(0, 0, 0, 0.35);
    padding: 5px 8px;
    border-radius: 5px;
    width: 31%;
    overflow-x: scroll;
    display: inline-grid;
    white-space: nowrap;
}

.temp-tick {
    display: flex;
    justify-content: center;
    align-items: center;
}

.temp-tick button {
    padding: 1px 0px 0 3px;
    height: 30px;
    width: 30px;
    font-family: 'Nunito', sans-serif;
    background-color: none;
    transition: background-color 0.8s;
    border-radius: 25px;
}

.temp-tick button:hover {
    background-color: rgba(255, 255, 255, 0.28);
    transition: background-color 0.8s;
}

.temp-tick span {
    font-size: 20px;
    vertical-align: middle;
    margin: 0 5px;
}

.forecast-city {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.forecast {
    font-family: 'Varela Round', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.forecast p {
    margin: 0;
}

.forecast-daily {
    display: flex;
    justify-content: center;
    align-items: center;
}

.forecast-icon {
    font-size: 20px;
}

.temp-now {
    color: #e0bf63;
    font-size: 21px;
    margin: 0 3px;
}

.wi.wi-direction-up {
    color: #467e3d;
    font-size: 25px;
    vertical-align: middle;
}

.wi.wi-direction-down {
    color: #7e543d;
    font-size: 25px;
    vertical-align: middle;
}
