/*weahter*/

.weather {
    background-color: rgba(255, 255, 255, 0.06);
    padding: 5px 8px;
    border-radius: 5px;
    height: 130px;
    width: 171px;
    display: inline-grid;
}

.temp-tick {
    text-align: center;
}

.temp-tick button {
    padding: 1px 0px 0 3px;
    height: 30px;
    width: 30px;
    font-family: 'Nunito', sans-serif;
}

.convert-arrow {
    font-size: 20px;
    vertical-align: middle;
}

.forecast {
    font-family: 'Varela Round', sans-serif;
    text-align: center;
}

.forecast p {
    margin: 0;
}

.forecast-daily {
    display: flex;
    justify-content: center;
    align-items: center;
}

.forecast-icon {
    background-color: rgba(0, 0, 0, 0.3);
    font-size: 25px;
    padding: 4px 5px 2px 5px;
    border-radius: 5px;
}

.temp-now {
    background-color: rgba(0, 0, 0, 0.3);
    font-size: 16px;
    padding: 4px 5px 2px 5px;
    border-radius: 5px;
    margin: 0 2px;
}

.wi.wi-direction-up {
    color: #467e3d;
    font-size: 25px;
    vertical-align: middle;
}

.wi.wi-direction-down {
    color: #7e543d;
    font-size: 25px;
    vertical-align: middle;
}
