/*weekly*/

.forecast-weekly {
    background-color: rgba(0, 0, 0, 0.22);
    border-radius: 5px;
    display: flex;
    padding: 0 0 0 3px;
    width: 31%;
    overflow-x: scroll;
    white-space: nowrap;
}

.temp-weekly {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.temp-weekly li {
    list-style: none;
    padding: 0;
}

.day {
    margin: 0 11px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.day p {
    margin: 0;
    text-align: center;
}

.day-icon {
    font-size: 20px;
    padding: 8px 8px;
}

.day-cond {
    display: flex;
    height: 30px;
    overflow: scroll;
}

.day-high {
    font-size: 15px;
}
