/*weekly*/

.forecast-weekly {
    background-color: rgba(255, 255, 255, 0.06);
    border-radius: 5px;
    height: 130px;
    width: 172px;
    overflow: scroll;
    display: -webkit-box;
    padding: 0 8px;
}

.temp-weekly {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.temp-weekly li {
    list-style: none;
    padding: 0;
}

.day {
    width: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.day p {
    margin: 0;
    text-align: center;
}

.day-icon {
    background-color: rgba(0, 0, 0, 0.4);
    font-size: 23px;
    padding: 3px 3px 8px 3px;
    border-radius: 3px;
}

.day-cond {
    display: flex;
    height: 30px;
    overflow: scroll;
}
